openapi: 3.0.3
info:
  title: SecureAI External API
  description: |
    SecureAI External API provides AI chat completion and image generation capabilities with knowledge base retrieval, 
    security policies, and comprehensive usage tracking. This API is designed for external developers 
    and integrations using API key authentication.
    
    ## Key Features
    - **RAG (Retrieval-Augmented Generation)**: Automatically search knowledge bases for relevant context
    - **Multi-Model Support**: OpenAI, Anthropic, Google, Meta, and other AI models
    - **Model Redundancy & Failover**: Caller-defined failover chains (primary + fallbacks) with per-attempt timeouts
    - **OpenAI-Compatible Endpoint**: Point any OpenAI SDK at `/api/external/v1` — no code changes
    - **Image Generation**: Generate and edit images using Google Gemini 2.5 Flash Image
    - **Speech-to-Speech (S2S)**: Real-time voice conversations using OpenAI Realtime API with WebRTC
    - **Security Policies**: SMLTP policy enforcement, per-call Prompt Shield, and signed compliance receipts
    - **Usage Tracking**: Comprehensive usage monitoring, self-service quota, and rate limiting
    - **Knowledge Base Integration**: Access to personal and shared knowledge bases
    - **User Management**: Complete user, group, and role management capabilities
    - **Audit Logging**: Comprehensive activity and security audit logs
    
    ## Authentication
    All endpoints (except health check) require API key authentication using Bearer token:
    ```
    Authorization: Bearer sk-your-api-key-here
    ```
    
    ## Billing and Usage
    By default, API requests are billed to the user account that owns the API key. You can specify 
    a different user to bill by including the `user_id` parameter in your request. This allows for:
    - Multi-tenant applications with per-user billing
    - Flexible completion limit management
    - Per-user "Usage by Model" settings
    
    ## Rate Limits
    - Default: 60 requests per minute, 1000 requests per hour
    - Daily limits: 100 requests (configurable)
    - Monthly limits: 10,000 requests (configurable)
    
    ## Base URL
    ```
    https://secureai.hiperai.ai/api/external
    ```
  version: 1.1.0
  contact:
    name: SecureAI Support
    email: support@secureai.hiperai.ai
  license:
    name: Proprietary
    url: https://secureai.hiperai.ai/terms

servers:
  - url: https://secureai.hiperai.ai/api/external
    description: Production server
  - url: http://localhost:3010/api/external
    description: Development server

security:
  - ApiKeyAuth: []

paths:
  /health:
    get:
      summary: Health Check
      description: Check if the API is running and healthy. No authentication required.
      tags:
        - System
      responses:
        '200':
          description: API is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  status:
                    type: string
                    example: "healthy"
                  timestamp:
                    type: string
                    format: date-time
                    example: "2024-01-15T10:30:00.000Z"
                  version:
                    type: string
                    example: "1.0.0"

  /licenses/availability:
    get:
      summary: Get License Availability
      description: |
        Retrieve license pool limits and current usage/remaining counts. Only accessible by administrators.
      tags:
        - User Management
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: License availability
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  limits:
                    type: object
                    additionalProperties:
                      type: integer
                    example:
                      Essential: 1
                      Growth: 0
                      Ultra: 2
                      Early Access: 12
                  usage:
                    type: object
                    additionalProperties:
                      type: integer
                    example:
                      Essential: 1
                      Growth: 5
                      Ultra: 1
                      Early Access: 0
                  remaining:
                    type: object
                    additionalProperties:
                      oneOf:
                        - type: integer
                        - type: number
                    example:
                      Essential: 0
                      Growth: 1.7976931348623157e+308
                      Ultra: 1
                      Early Access: 12
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Access denied - admin only
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /models:
    get:
      summary: Get Available Models
      description: |
        Retrieve available AI models based on your API key permissions and user license.
        Models are categorized as 'standard' or 'premium' based on your subscription tier.
      tags:
        - Discovery
      security:
        - ApiKeyAuth: []
      parameters:
        - name: provider
          in: query
          description: Filter models by provider (e.g., 'openai', 'anthropic', 'google')
          required: false
          schema:
            type: string
      responses:
        '200':
          description: List of available models
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  models:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: "openai/gpt-4.1-mini"
                        name:
                          type: string
                          example: "openai/gpt-4.1-mini"
                        provider:
                          type: string
                          example: "openai"
                  user_license:
                    type: string
                    example: "Growth"
                  restrictions:
                    type: object
                    properties:
                      allowed_models:
                        type: string
                        example: "all"
                  filters:
                    type: object
                    properties:
                      provider:
                        type: string
                        nullable: true
                        example: "openai"
              example:
                success: true
                models:
                  - id: "openai/gpt-4.1-mini"
                    name: "openai/gpt-4.1-mini"
                    provider: "openai"
                  - id: "anthropic/claude-sonnet-4"
                    name: "anthropic/claude-sonnet-4"
                    provider: "anthropic"
                user_license: "Growth"
                restrictions:
                  allowed_models: "all"
                filters:
                  provider: "openai"
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'

  /indexes:
    get:
      summary: Get Available Knowledge Bases
      description: |
        Retrieve available knowledge bases (indexes) that your API key can access.
        Includes personal indexes, shared indexes, and the Zero-Knowledge option.
      tags:
        - Discovery
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: List of available knowledge bases
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  indexes:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: "my-knowledge-base"
                        name:
                          type: string
                          example: "my-knowledge-base"
                        type:
                          type: string
                          enum: [system, personal, general]
                          example: "personal"
                        namespace:
                          type: string
                          example: "user-namespace"
                        description:
                          type: string
                          example: "Direct AI responses without knowledge base retrieval"
                  restrictions:
                    type: object
                    properties:
                      allowed_indexes:
                        type: string
                        example: "all user indexes"
              example:
                success: true
                indexes:
                  - id: "Zero-Knowledge"
                    name: "Zero-Knowledge"
                    type: "system"
                    description: "Direct AI responses without knowledge base retrieval"
                  - id: "my-knowledge-base"
                    name: "my-knowledge-base"
                    type: "personal"
                    namespace: "user-namespace"
                restrictions:
                  allowed_indexes: "all user indexes"
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /smltp-policies:
    get:
      summary: Get Security Policies
      description: |
        Retrieve available SMLTP (Secure Multi-Layer Trust Protocol) security policies.
        These policies determine how your data is processed and protected.
      tags:
        - Discovery
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: List of available security policies
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  policies:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: "internal"
                        name:
                          type: string
                          example: "Internal"
                        description:
                          type: string
                          example: "For internal company data"
                  restrictions:
                    type: object
                    properties:
                      allowed_policies:
                        type: string
                        example: "all"
              example:
                success: true
                policies:
                  - id: "public"
                    name: "Public"
                    description: "For public, non-sensitive data"
                  - id: "internal"
                    name: "Internal"
                    description: "For internal company data"
                  - id: "confidential"
                    name: "Confidential"
                    description: "For confidential business data"
                restrictions:
                  allowed_policies: "all"
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /chat/completions:
    post:
      summary: Chat Completion
      description: |
        The main endpoint for AI chat completions with optional knowledge base retrieval (RAG).
        This endpoint supports multiple AI models, security policies, and can search your
        knowledge bases for relevant context to enhance responses.
      tags:
        - Chat
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - prompt
              properties:
                model:
                  type: string
                  description: The AI model to use for completion
                  example: "openai/gpt-4.1-mini"
                index:
                  type: string
                  description: Knowledge base to search for context (use 'Zero-Knowledge' for direct AI responses)
                  example: "my-knowledge-base"
                smltp_policy:
                  type: string
                  description: Security policy to apply
                  example: "internal"
                prompt:
                  type: string
                  description: The user's message/prompt
                  example: "What is the company's policy on remote work?"
                temperature:
                  type: number
                  format: float
                  minimum: 0
                  maximum: 2
                  default: 0.7
                  description: Controls randomness in the response (0 = deterministic, 2 = very random)
                  example: 0.7
                max_tokens:
                  type: integer
                  minimum: 1
                  maximum: 4000
                  default: 1000
                  description: Maximum number of tokens in the response
                  example: 1000
                stream:
                  type: boolean
                  default: false
                  description: Whether to stream the response
                  example: false
                conversation_id:
                  type: string
                  description: Optional conversation ID for tracking
                  example: "conv-123"
                system_message:
                  type: string
                  description: Optional custom system message
                  example: "You are a helpful assistant."
                use_rag:
                  type: boolean
                  default: true
                  description: Whether to use RAG (knowledge base retrieval)
                  example: true
                user_id:
                  type: string
                  description: MongoDB ObjectId of the user to bill for this request. If not provided, the API key owner will be billed
                  example: "60a7c8f5e8b4f5001f7a8c23"
            example:
              model: "openai/gpt-4.1-mini"
              index: "my-knowledge-base"
              smltp_policy: "internal"
              prompt: "What is the company's policy on remote work?"
              temperature: 0.7
              max_tokens: 1000
              stream: false
              conversation_id: "conv-123"
              system_message: "You are a helpful assistant."
              use_rag: true
              user_id: "60a7c8f5e8b4f5001f7a8c23"
      responses:
        '200':
          description: Successful chat completion
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  id:
                    type: string
                    example: "req-abc123"
                  object:
                    type: string
                    example: "chat.completion"
                  created:
                    type: integer
                    example: 1705312200
                  model:
                    type: string
                    example: "openai/gpt-4.1-mini"
                  choices:
                    type: array
                    items:
                      type: object
                      properties:
                        index:
                          type: integer
                          example: 0
                        message:
                          type: object
                          properties:
                            role:
                              type: string
                              example: "assistant"
                            content:
                              type: string
                              example: "Based on the company's remote work policy..."
                        finish_reason:
                          type: string
                          example: "stop"
                  usage:
                    type: object
                    properties:
                      prompt_tokens:
                        type: integer
                        example: 150
                      completion_tokens:
                        type: integer
                        example: 200
                      total_tokens:
                        type: integer
                        example: 350
                      input_tokens:
                        type: integer
                        example: 150
                      output_tokens:
                        type: integer
                        example: 200
                  metadata:
                    type: object
                    properties:
                      conversation_id:
                        type: string
                        example: "conv-123"
                      index_used:
                        type: string
                        example: "my-knowledge-base"
                      smltp_policy_used:
                        type: string
                        example: "internal"
                      rag_enabled:
                        type: boolean
                        example: true
                      documents_retrieved:
                        type: integer
                        example: 3
                      sources:
                        type: array
                        items:
                          type: object
                          properties:
                            source:
                              type: string
                              example: "remote-work-policy.pdf"
                            score:
                              type: number
                              format: float
                              example: 0.95
              example:
                success: true
                id: "req-abc123"
                object: "chat.completion"
                created: 1705312200
                model: "openai/gpt-4.1-mini"
                choices:
                  - index: 0
                    message:
                      role: "assistant"
                      content: "Based on the company's remote work policy..."
                    finish_reason: "stop"
                usage:
                  prompt_tokens: 150
                  completion_tokens: 200
                  total_tokens: 350
                  input_tokens: 150
                  output_tokens: 200
                metadata:
                  conversation_id: "conv-123"
                  index_used: "my-knowledge-base"
                  smltp_policy_used: "internal"
                  rag_enabled: true
                  documents_retrieved: 3
                  sources:
                    - source: "remote-work-policy.pdf"
                      score: 0.95
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Access denied (model, index, or policy not allowed)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit or usage limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/chat/completions:
    post:
      tags:
        - Chat
      summary: OpenAI-compatible chat completion
      description: |
        Drop-in OpenAI Chat Completions surface. Point any OpenAI SDK's `base_url`
        at `/api/external/v1` with a SecureAI API key. Strict OpenAI request/response
        shapes (`choices[]`, SSE `data:` frames, `[DONE]`, tool_calls passthrough).
        RAG is not available here (pinned to Zero-Knowledge). SecureAI extension
        fields (`smltp_policy`, `prompt_shield`, `models`/`fallback_models`,
        `redundancy`, `user_id`) are accepted as extra body fields and echoed back
        in a `secureai` response object.
      operationId: openaiCompatibleChatCompletion
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - model
                - messages
              properties:
                model:
                  type: string
                  example: openai/gpt-5-nano
                messages:
                  type: array
                  items:
                    type: object
                    properties:
                      role:
                        type: string
                        enum: [system, user, assistant]
                      content:
                        type: string
                temperature:
                  type: number
                max_tokens:
                  type: integer
                stream:
                  type: boolean
                models:
                  type: array
                  items:
                    type: string
                fallback_models:
                  type: array
                  items:
                    type: string
                redundancy:
                  type: object
                  description: "{ timeout_ms, first_token_timeout_ms, on[] }"
                smltp_policy:
                  type: string
                prompt_shield:
                  type: object
                  description: "{ enabled?, policy? } per-call Prompt Shield override"
      responses:
        '200':
          description: OpenAI chat.completion object plus a `secureai` extension
        '400':
          description: Invalid request (OpenAI error envelope)
        '401':
          description: Invalid API key
        '429':
          description: Rate limited (or all models rate-limited)
        '502':
          description: All model attempts in the redundancy chain failed

  /policy-check:
    post:
      tags:
        - Chat
      summary: Dry-run the security pipeline (no model call, no billing)
      description: |
        Validate a completion payload against the full pipeline — input, model
        allowlists (whole redundancy chain), SMLTP policy resolution/authorization,
        Prompt Shield authorization and a report-only scan verdict, and a points
        quota preview. Accepts the same body as `/chat/completions`. Nothing is
        generated and nothing is billed.
      operationId: policyCheck
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Same schema as POST /chat/completions
      responses:
        '200':
          description: Per-check report with `allowed`, `checks`, and resolved `plan`
        '401':
          description: Invalid API key

  /usage:
    get:
      tags:
        - System
      summary: Self-service quota and usage snapshot
      description: |
        Returns the billed user's points bucket, the Usage-by-Model budget (when
        enabled), and the calling key's daily/monthly counters and rate limits.
      operationId: getUsage
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Points, usage_by_model, and api_key limit snapshot
        '401':
          description: Invalid API key

  /receipts/{bundleId}:
    get:
      tags:
        - Security
      summary: Fetch a signed SMLTP compliance receipt
      description: |
        Returns the signed compliance receipt for a gateway-routed completion. The
        bundle id is exposed on completion responses as `metadata.smltp.bundle_id`
        (classic) or `secureai.smltp_bundle_id` (/v1). Returns 404 on
        direct-provider deployments (no gateway to sign receipts).
      operationId: getReceipt
      security:
        - ApiKeyAuth: []
      parameters:
        - name: bundleId
          in: path
          required: true
          schema:
            type: string
            maxLength: 128
      responses:
        '200':
          description: The signed receipt object
        '400':
          description: Invalid bundle id
        '404':
          description: No receipt for this bundle id (or non-gateway deployment)

  /images/generations:
    post:
      summary: Generate or Edit Images
      description: |
        Generate new images from text prompts or transform existing images using Google Gemini 2.5 Flash Image.
        All requests and responses are processed through SMLTP for security and compliance.
        
        This endpoint supports:
        - **Text-to-Image**: Generate images from text descriptions
        - **Image-to-Image**: Transform or edit existing images (upload an image file)
        
        All prompts and responses are automatically processed through SMLTP for audit logging and compliance.
      tags:
        - Images
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - prompt
              properties:
                prompt:
                  type: string
                  description: The text prompt describing the image to generate or how to transform the uploaded image
                  example: "A beautiful sunset over the ocean with mountains in the background, digital art style"
                  minLength: 1
                  maxLength: 4000
                image:
                  type: string
                  format: binary
                  description: Optional image file for image-to-image generation (JPEG, PNG, WEBP, or GIF, max 10MB)
                smltp_policy:
                  type: string
                  description: SMLTP security policy to apply (e.g., 'internal', 'public', 'confidential', 'hipaa', 'gdpr')
                  default: "internal"
                  example: "internal"
                response_format:
                  type: string
                  description: The format of the response images
                  enum: [url, b64_json]
                  default: "url"
                  example: "url"
                size:
                  type: string
                  description: The size of the generated images (for future use, currently uses default size)
                  default: "1024x1024"
                  example: "1024x1024"
                n:
                  type: integer
                  description: Number of images to generate (Gemini typically generates 1-4 images)
                  minimum: 1
                  maximum: 4
                  default: 1
                  example: 1
          application/json:
            schema:
              type: object
              required:
                - prompt
              properties:
                prompt:
                  type: string
                  description: The text prompt describing the image to generate
                  example: "A beautiful sunset over the ocean with mountains in the background, digital art style"
                  minLength: 1
                  maxLength: 4000
                smltp_policy:
                  type: string
                  description: SMLTP security policy to apply
                  default: "internal"
                  example: "internal"
                response_format:
                  type: string
                  description: The format of the response images
                  enum: [url, b64_json]
                  default: "url"
                  example: "url"
                size:
                  type: string
                  description: The size of the generated images (for future use)
                  default: "1024x1024"
                  example: "1024x1024"
                n:
                  type: integer
                  description: Number of images to generate
                  minimum: 1
                  maximum: 4
                  default: 1
                  example: 1
            example:
              prompt: "A beautiful sunset over the ocean with mountains in the background, digital art style"
              smltp_policy: "internal"
              response_format: "url"
              n: 1
      responses:
        '200':
          description: Images generated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  id:
                    type: string
                    description: Unique request identifier
                    example: "90d3756f-41c3-4f86-a18d-e257bfbc33a3"
                  object:
                    type: string
                    example: "image.generation"
                  created:
                    type: integer
                    description: Unix timestamp of when the images were created
                    example: 1705312200
                  data:
                    type: array
                    description: Array of generated images
                    items:
                      type: object
                      properties:
                        url:
                          type: string
                          format: uri
                          description: URL to access the generated image (when response_format is 'url')
                          example: "http://localhost:5173/uploads/secureai_image_api_68c5c6d2d57c85b102eb05e2_90d3756f_0.png"
                        b64_json:
                          type: string
                          description: Base64-encoded image data (when response_format is 'b64_json')
                          example: "iVBORw0KGgoAAAANSUhEUgAA..."
                        revised_prompt:
                          type: string
                          description: The prompt that was actually used for generation (may differ from input)
                          example: "A beautiful sunset over the ocean with mountains in the background, digital art style"
                  metadata:
                    type: object
                    properties:
                      model:
                        type: string
                        example: "google/gemini-2.5-flash-image-preview"
                      provider:
                        type: string
                        example: "Google"
                      total_images:
                        type: integer
                        example: 1
                      is_image_to_image:
                        type: boolean
                        description: Whether this was an image-to-image generation
                        example: false
                      text_response:
                        type: string
                        nullable: true
                        description: Optional text response from the model
                        example: null
                      smltp_trace_id:
                        type: string
                        description: SMLTP trace ID for audit tracking
                        example: "trx-220eca66-5e3a-4a72-886b-e6ba8cde18a6"
                      smltp_bundle_id:
                        type: string
                        description: SMLTP bundle ID for audit tracking
                        example: "jti-bb850e61-fbfe-412a-8b0d-d180d4a36d22"
                      smltp_policy:
                        type: string
                        description: SMLTP policy that was applied
                        example: "internal"
              example:
                success: true
                id: "90d3756f-41c3-4f86-a18d-e257bfbc33a3"
                object: "image.generation"
                created: 1705312200
                data:
                  - url: "http://localhost:5173/uploads/secureai_image_api_68c5c6d2d57c85b102eb05e2_90d3756f_0.png"
                    revised_prompt: "A beautiful sunset over the ocean with mountains in the background, digital art style"
                metadata:
                  model: "google/gemini-2.5-flash-image-preview"
                  provider: "Google"
                  total_images: 1
                  is_image_to_image: false
                  text_response: null
                  smltp_trace_id: "trx-220eca66-5e3a-4a72-886b-e6ba8cde18a6"
                  smltp_bundle_id: "jti-bb850e61-fbfe-412a-8b0d-d180d4a36d22"
                  smltp_policy: "internal"
        '400':
          description: Invalid request parameters (missing prompt, invalid image format, etc.)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error: "Invalid prompt"
                message: "Prompt is required and must be a non-empty string"
                request_id: "90d3756f-41c3-4f86-a18d-e257bfbc33a3"
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Access denied (SMLTP policy not allowed)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '413':
          description: Image file too large (maximum 10MB)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error: "File too large"
                message: "Maximum image size is 10MB"
                request_id: "90d3756f-41c3-4f86-a18d-e257bfbc33a3"
        '500':
          description: Internal server error or image generation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Image generation service unavailable (Gemini service not configured)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error: "Service unavailable"
                message: "Image generation service is not configured"
                request_id: "90d3756f-41c3-4f86-a18d-e257bfbc33a3"

  /images/edits:
    post:
      summary: Image-to-Image Editing
      description: |
        Edit existing images using Google Gemini 2.5 Flash Image with text instructions.
        All requests and responses are processed through SMLTP for security and compliance.
        
        This endpoint is specifically designed for **image-to-image editing** where:
        - An image file is **required** (unlike `/images/generations` where it's optional)
        - A text prompt describes how to edit or transform the image
        - The edited image is returned with the same quality and format options
        
        All prompts and responses are automatically processed through SMLTP for audit logging and compliance.
      tags:
        - Images
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - prompt
                - image
              properties:
                prompt:
                  type: string
                  description: Text instructions describing how to edit or transform the uploaded image
                  example: "Add dramatic sunset colors to the sky and enhance the overall atmosphere"
                  minLength: 1
                  maxLength: 4000
                image:
                  type: string
                  format: binary
                  description: Image file to edit (required, JPEG, PNG, WEBP, or GIF, max 10MB)
                smltp_policy:
                  type: string
                  description: SMLTP security policy to apply (e.g., 'internal', 'public', 'confidential', 'hipaa', 'gdpr')
                  default: "internal"
                  example: "internal"
                response_format:
                  type: string
                  description: The format of the response images
                  enum: [url, b64_json]
                  default: "url"
                  example: "url"
      responses:
        '200':
          description: Image edited successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  id:
                    type: string
                    description: Unique request identifier
                    example: "f55bb4aa-ad9a-4b5a-9c94-511bf6fce806"
                  object:
                    type: string
                    example: "image.edit"
                  created:
                    type: integer
                    description: Unix timestamp of when the image was edited
                    example: 1705312200
                  data:
                    type: array
                    description: Array of edited images
                    items:
                      type: object
                      properties:
                        url:
                          type: string
                          format: uri
                          description: URL to access the edited image (when response_format is 'url')
                          example: "http://localhost:5173/uploads/secureai_image_api_edit_68c5c6d2d57c85b102eb05e2_f55bb4aa_0.png"
                        b64_json:
                          type: string
                          description: Base64-encoded image data (when response_format is 'b64_json')
                          example: "iVBORw0KGgoAAAANSUhEUgAA..."
                        revised_prompt:
                          type: string
                          description: The prompt that was actually used for editing (may differ from input)
                          example: "Add dramatic sunset colors to the sky and enhance the overall atmosphere"
                  metadata:
                    type: object
                    properties:
                      model:
                        type: string
                        example: "google/gemini-2.5-flash-image-preview"
                      provider:
                        type: string
                        example: "Google"
                      total_images:
                        type: integer
                        example: 1
                      is_image_to_image:
                        type: boolean
                        description: Always true for this endpoint
                        example: true
                      text_response:
                        type: string
                        nullable: true
                        description: Optional text response from the model
                        example: null
                      smltp_trace_id:
                        type: string
                        description: SMLTP trace ID for audit tracking
                        example: "trx-6caec994-73af-4f2c-9e13-572d53262f2a"
                      smltp_bundle_id:
                        type: string
                        description: SMLTP bundle ID for audit tracking
                        example: "jti-26464307-d455-4a3d-9ca4-8ec144cb601c"
                      smltp_policy:
                        type: string
                        description: SMLTP policy that was applied
                        example: "internal"
              example:
                success: true
                id: "f55bb4aa-ad9a-4b5a-9c94-511bf6fce806"
                object: "image.edit"
                created: 1705312200
                data:
                  - url: "http://localhost:5173/uploads/secureai_image_api_edit_68c5c6d2d57c85b102eb05e2_f55bb4aa_0.png"
                    revised_prompt: "Add dramatic sunset colors to the sky and enhance the overall atmosphere"
                metadata:
                  model: "google/gemini-2.5-flash-image-preview"
                  provider: "Google"
                  total_images: 1
                  is_image_to_image: true
                  text_response: null
                  smltp_trace_id: "trx-6caec994-73af-4f2c-9e13-572d53262f2a"
                  smltp_bundle_id: "jti-26464307-d455-4a3d-9ca4-8ec144cb601c"
                  smltp_policy: "internal"
        '400':
          description: Invalid request parameters (missing prompt, missing image, invalid image format, etc.)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error: "Missing image"
                message: "An image file is required for image-to-image editing"
                request_id: "f55bb4aa-ad9a-4b5a-9c94-511bf6fce806"
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Access denied (SMLTP policy not allowed)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '413':
          description: Image file too large (maximum 10MB)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error: "File too large"
                message: "Maximum image size is 10MB"
                request_id: "f55bb4aa-ad9a-4b5a-9c94-511bf6fce806"
        '500':
          description: Internal server error or image editing failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Image generation service unavailable (Gemini service not configured)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error: "Service unavailable"
                message: "Image generation service is not configured"
                request_id: "f55bb4aa-ad9a-4b5a-9c94-511bf6fce806"

  /speech/s2s/webrtc:
    post:
      summary: Initiate Speech-to-Speech WebRTC Session
      description: |
        Establishes a WebRTC connection for real-time speech-to-speech conversations using OpenAI Realtime API.
        This endpoint accepts a WebRTC SDP offer and returns an SDP answer that can be used to establish
        a peer connection with OpenAI's Realtime API.
        
        **Usage Flow:**
        1. Client creates a WebRTC offer (RTCPeerConnection.createOffer)
        2. Client sends the SDP offer to this endpoint
        3. This endpoint proxies the offer to OpenAI Realtime API
        4. Client receives SDP answer and establishes WebRTC connection
        5. Client can then have real-time voice conversations with the AI
        
        **S2S Time Tracking:**
        - Each user has a monthly S2S time quota based on their license
        - Time is tracked in minutes and deducted when sessions are logged
        - Use `/speech/s2s/status` to check remaining time
        - Use `/speech/s2s/log-session` to log session duration and deduct time
        
        **SMLTP Integration:**
        - All requests are processed through SMLTP for security and compliance
        - Model validation is enforced based on the specified SMLTP policy
        - Requests are audited and logged for compliance tracking
      tags:
        - Speech
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - sdp
              properties:
                sdp:
                  type: string
                  description: WebRTC SDP offer from the client's RTCPeerConnection
                  example: "v=0\r\no=- 4611731400430051336 2 IN IP4 127.0.0.1\r\ns=-\r\nt=0 0\r\n..."
                model:
                  type: string
                  description: OpenAI Realtime model to use
                  default: "gpt-4o-mini-realtime-preview"
                  enum:
                    - "gpt-4o-mini-realtime-preview"
                    - "gpt-4o-realtime-preview"
                voice:
                  type: string
                  description: Voice to use for the AI response
                  default: "alloy"
                  enum:
                    - "alloy"
                    - "echo"
                    - "fable"
                    - "onyx"
                    - "nova"
                    - "shimmer"
                    - "ash"
                    - "ballad"
                    - "coral"
                smltp_policy:
                  type: string
                  description: SMLTP policy to apply for this session
                  default: "internal"
                  enum:
                    - "public"
                    - "internal"
                    - "internal-strict"
                    - "confidential"
                    - "hipaa"
                    - "gdpr"
                    - "pci-dss"
                output_audio:
                  type: boolean
                  description: "Whether to enable audio output (default: true)"
                  default: true
                user_id:
                  type: string
                  description: Optional user ID to bill this session to (defaults to API key owner)
                  example: "60a7c8f5e8b4f5001f7a8c23"
                instructions:
                  type: string
                  description: Optional system instructions for the AI assistant
                  example: "You are a helpful customer service agent."
      responses:
        '200':
          description: SDP answer from OpenAI Realtime API
          content:
            application/sdp:
              schema:
                type: string
                description: SDP answer that can be used with RTCPeerConnection.setRemoteDescription()
              example: "v=0\r\no=- 1234567890 2 IN IP4 127.0.0.1\r\ns=-\r\nt=0 0\r\n..."
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error: "Invalid SDP offer"
                message: "SDP offer is required and must be a string"
                request_id: "96bba6a4-0e7a-4fd7-93a7-3b40428729fb"
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                timeLimit:
                  summary: S2S time limit reached
                  value:
                    success: false
                    error: "S2S time limit reached"
                    message: "Insufficient S2S time remaining for this user"
                    remaining_minutes: 0
                    next_renewal_date: "2024-12-01T12:55:35.721Z"
                    request_id: "96bba6a4-0e7a-4fd7-93a7-3b40428729fb"
                modelValidation:
                  summary: Model validation failed
                  value:
                    success: false
                    error: "Model validation failed"
                    message: "Model gpt-4o-mini-realtime-preview is not allowed by SMLTP policy test-policy-active"
                    request_id: "96bba6a4-0e7a-4fd7-93a7-3b40428729fb"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error: "S2S WebRTC failed"
                message: "An error occurred while processing your request"
                request_id: "96bba6a4-0e7a-4fd7-93a7-3b40428729fb"

  /speech/s2s/status:
    get:
      summary: Get S2S Time Status
      description: |
        Retrieve the current Speech-to-Speech (S2S) time status for the billing user, including remaining time,
        total monthly limit, used time, and renewal information.
        
        **S2S Time Quotas:**
        - Quotas are based on the user's license tier
        - Time resets monthly based on the license assignment date
        - Non-renewable trial licenses don't auto-reset
      tags:
        - Speech
      security:
        - ApiKeyAuth: []
      parameters:
        - name: user_id
          in: query
          description: Optional user ID to check status for (defaults to API key owner)
          required: false
          schema:
            type: string
            example: "60a7c8f5e8b4f5001f7a8c23"
      responses:
        '200':
          description: S2S time status
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  remaining_minutes:
                    type: number
                    description: Remaining S2S time in minutes
                    example: 38.2896
                  total_minutes:
                    type: number
                    description: Total monthly S2S time limit
                    example: 45
                  used_minutes:
                    type: number
                    description: Used S2S time this month
                    example: 6.7104
                  has_time_remaining:
                    type: boolean
                    description: Whether user has any remaining S2S time
                    example: true
                  next_renewal_date:
                    type: string
                    format: date-time
                    description: When the S2S time quota will reset (null for non-renewable licenses)
                    example: "2025-12-01T12:55:35.721Z"
                  non_renewable:
                    type: boolean
                    description: Whether this is a non-renewable trial license
                    example: false
                  request_id:
                    type: string
                    description: Request ID for tracking
                    example: "a8c307b4-c0c9-4b30-98db-5aced06c1cfe"
        '400':
          description: Invalid user_id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /speech/s2s/log-session:
    post:
      summary: Log S2S Session Duration
      description: |
        Log the duration of a completed Speech-to-Speech session and deduct the time from the user's
        S2S time quota. This should be called after a session ends to track usage accurately.
        
        **Usage Tracking:**
        - Duration is specified in milliseconds
        - Automatically converted to minutes and deducted from user's quota
        - Time is tracked per-user based on license tier
        - Activity logs are created for audit purposes
      tags:
        - Speech
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                durationMs:
                  type: integer
                  description: Session duration in milliseconds
                  minimum: 0
                  example: 42624
                user_id:
                  type: string
                  description: Optional user ID to bill this session to (defaults to API key owner)
                  example: "60a7c8f5e8b4f5001f7a8c23"
      responses:
        '200':
          description: Session logged successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "S2S session logged successfully"
                  request_id:
                    type: string
                    description: Request ID for tracking
                    example: "3fb8d444-2242-4764-9202-8e9e72464192"
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error: "Invalid user_id"
                message: "The specified user_id does not exist"
                request_id: "3fb8d444-2242-4764-9202-8e9e72464192"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                error: "Failed to log S2S session"
                message: "An error occurred while logging the session"
                request_id: "3fb8d444-2242-4764-9202-8e9e72464192"

  /users:
    get:
      summary: Get All Users
      description: |
        Retrieve all users with pagination and filtering. Only accessible by administrators.
      tags:
        - User Management
      security:
        - ApiKeyAuth: []
      parameters:
        - name: page
          in: query
          description: Page number for pagination
          required: false
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: limit
          in: query
          description: Number of users per page
          required: false
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
        - name: search
          in: query
          description: Search term for name, email, or username
          required: false
          schema:
            type: string
        - name: role
          in: query
          description: Filter by user role
          required: false
          schema:
            type: string
            enum: [admin, user, globalReader]
        - name: license
          in: query
          description: Filter by user license
          required: false
          schema:
            type: string
            enum: [Essential, Growth, Ultra, Early Access]
        - name: status
          in: query
          description: Filter by user status (0=inactive, 1=active)
          required: false
          schema:
            type: integer
            enum: [0, 1]
        - name: sortBy
          in: query
          description: Field to sort by
          required: false
          schema:
            type: string
            default: "createdAt"
        - name: sortOrder
          in: query
          description: Sort order
          required: false
          schema:
            type: string
            enum: [asc, desc]
            default: "desc"
      responses:
        '200':
          description: List of users
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  users:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: "60a7c8f5e8b4f5001f7a8c23"
                        name:
                          type: string
                          example: "John Doe"
                        username:
                          type: string
                          example: "johndoe"
                        email:
                          type: string
                          example: "john@example.com"
                        role:
                          type: string
                          example: "user"
                        license:
                          type: string
                          example: "Growth"
                        status:
                          type: integer
                          example: 1
                        isVerified:
                          type: boolean
                          example: true
                        setupCompleted:
                          type: boolean
                          example: true
                        authType:
                          type: string
                          example: "basic"
                        mfaEnabled:
                          type: boolean
                          example: false
                        customRole:
                          type: object
                          nullable: true
                          properties:
                            id:
                              type: string
                              example: "60a7c8f5e8b4f5001f7a8c24"
                            name:
                              type: string
                              example: "custom_role"
                            displayName:
                              type: string
                              example: "Custom Role"
                        createdAt:
                          type: string
                          format: date-time
                          example: "2024-01-01T00:00:00.000Z"
                        updatedAt:
                          type: string
                          format: date-time
                          example: "2024-01-15T10:30:00.000Z"
                        lastActive:
                          type: string
                          format: date-time
                          example: "2024-01-15T10:30:00.000Z"
                  pagination:
                    type: object
                    properties:
                      page:
                        type: integer
                        example: 1
                      limit:
                        type: integer
                        example: 20
                      total:
                        type: integer
                        example: 150
                      pages:
                        type: integer
                        example: 8
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Access denied - admin only
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    post:
      summary: Create New User
      description: |
        Create a new user account. Only accessible by administrators.
      tags:
        - User Management
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - username
                - email
                - password
              properties:
                name:
                  type: string
                  description: User's full name
                  example: "John Doe"
                username:
                  type: string
                  description: Unique username
                  example: "johndoe"
                email:
                  type: string
                  format: email
                  description: User's email address
                  example: "john@example.com"
                password:
                  type: string
                  description: User's password
                  example: "securepassword123"
                role:
                  type: string
                  enum: [admin, user, globalReader]
                  default: "user"
                  description: User's role
                  example: "user"
                license:
                  type: string
                  enum: [Essential, Growth, Ultra, Early Access]
                  default: "Essential"
                  description: User's license tier
                  example: "Growth"
                roleId:
                  type: string
                  description: Custom role ID (MongoDB ObjectId)
                  example: "60a7c8f5e8b4f5001f7a8c24"
                setupCompleted:
                  type: boolean
                  default: false
                  description: Whether user setup is completed
                  example: false
                authType:
                  type: string
                  enum: [basic, auth0]
                  default: "basic"
                  description: Authentication type
                  example: "basic"
            example:
              name: "John Doe"
              username: "johndoe"
              email: "john@example.com"
              password: "securepassword123"
              role: "user"
              license: "Growth"
              setupCompleted: false
              authType: "basic"
      responses:
        '201':
          description: User created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "User created successfully"
                  user:
                    type: object
                    properties:
                      id:
                        type: string
                        example: "60a7c8f5e8b4f5001f7a8c23"
                      name:
                        type: string
                        example: "John Doe"
                      username:
                        type: string
                        example: "johndoe"
                      email:
                        type: string
                        example: "john@example.com"
                      role:
                        type: string
                        example: "user"
                      license:
                        type: string
                        example: "Growth"
                      status:
                        type: integer
                        example: 1
                      isVerified:
                        type: boolean
                        example: true
                      setupCompleted:
                        type: boolean
                        example: false
                      authType:
                        type: string
                        example: "basic"
                      createdAt:
                        type: string
                        format: date-time
                        example: "2024-01-15T10:30:00.000Z"
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Access denied - admin only
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: User already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /users/{userId}:
    put:
      summary: Update User
      description: |
        Update an existing user account. Only accessible by administrators.
      tags:
        - User Management
      security:
        - ApiKeyAuth: []
      parameters:
        - name: userId
          in: path
          required: true
          description: User ID to update
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: User's full name
                  example: "John Doe Updated"
                username:
                  type: string
                  description: Unique username
                  example: "johndoe_updated"
                email:
                  type: string
                  format: email
                  description: User's email address
                  example: "john.updated@example.com"
                password:
                  type: string
                  description: User's new password (optional)
                  example: "newsecurepassword123"
                role:
                  type: string
                  enum: [admin, user, globalReader]
                  description: User's role
                  example: "user"
                license:
                  type: string
                  enum: [Essential, Growth, Ultra, Early Access]
                  description: User's license tier
                  example: "Growth"
                status:
                  type: integer
                  enum: [0, 1]
                  description: User status (0=inactive, 1=active)
                  example: 1
                roleId:
                  type: string
                  description: Custom role ID (MongoDB ObjectId)
                  example: "60a7c8f5e8b4f5001f7a8c24"
                setupCompleted:
                  type: boolean
                  description: Whether user setup is completed
                  example: true
                isVerified:
                  type: boolean
                  description: Whether user is verified
                  example: true
            example:
              name: "John Doe Updated"
              email: "john.updated@example.com"
              role: "user"
              license: "Growth"
              status: 1
              setupCompleted: true
              isVerified: true
      responses:
        '200':
          description: User updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "User updated successfully"
                  user:
                    type: object
                    properties:
                      id:
                        type: string
                        example: "60a7c8f5e8b4f5001f7a8c23"
                      name:
                        type: string
                        example: "John Doe Updated"
                      username:
                        type: string
                        example: "johndoe"
                      email:
                        type: string
                        example: "john.updated@example.com"
                      role:
                        type: string
                        example: "user"
                      license:
                        type: string
                        example: "Growth"
                      status:
                        type: integer
                        example: 1
                      isVerified:
                        type: boolean
                        example: true
                      setupCompleted:
                        type: boolean
                        example: true
                      authType:
                        type: string
                        example: "basic"
                      customRole:
                        type: object
                        nullable: true
                        properties:
                          id:
                            type: string
                            example: "60a7c8f5e8b4f5001f7a8c24"
                          name:
                            type: string
                            example: "custom_role"
                          displayName:
                            type: string
                            example: "Custom Role"
                      createdAt:
                        type: string
                        format: date-time
                        example: "2024-01-01T00:00:00.000Z"
                      updatedAt:
                        type: string
                        format: date-time
                        example: "2024-01-15T10:30:00.000Z"
                      lastActive:
                        type: string
                        format: date-time
                        example: "2024-01-15T10:30:00.000Z"
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Access denied - admin only
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Email or username already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /indexes/all:
    get:
      summary: Get All Indexes
      description: |
        Retrieve all indexes (both user and group indexes) with pagination and filtering. Only accessible by administrators.
      tags:
        - Index Management
      security:
        - ApiKeyAuth: []
      parameters:
        - name: page
          in: query
          description: Page number for pagination
          required: false
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: limit
          in: query
          description: Number of indexes per page
          required: false
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 100
        - name: search
          in: query
          description: Search term for index name or shared index name
          required: false
          schema:
            type: string
        - name: type
          in: query
          description: Filter by index type
          required: false
          schema:
            type: string
            enum: [personal, general, group]
        - name: status
          in: query
          description: Filter by index status
          required: false
          schema:
            type: string
            enum: [active, deleted, all]
            default: "active"
      responses:
        '200':
          description: List of all indexes
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  indexes:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: "60a7c8f5e8b4f5001f7a8c23"
                        name:
                          type: string
                          example: "my-knowledge-base"
                        sharedIndexName:
                          type: string
                          example: "my-knowledge-base"
                        namespace:
                          type: string
                          example: "user-namespace"
                        type:
                          type: string
                          enum: [personal, general, group, unknown]
                          example: "personal"
                        assignedUser:
                          type: object
                          nullable: true
                          properties:
                            id:
                              type: string
                              example: "60a7c8f5e8b4f5001f7a8c24"
                            name:
                              type: string
                              example: "John Doe"
                            email:
                              type: string
                              example: "john@example.com"
                        assignedGroup:
                          type: object
                          nullable: true
                          properties:
                            id:
                              type: string
                              example: "60a7c8f5e8b4f5001f7a8c25"
                            name:
                              type: string
                              example: "Engineering Team"
                        userId:
                          type: string
                          example: "60a7c8f5e8b4f5001f7a8c24"
                        isActive:
                          type: boolean
                          example: true
                        createdAt:
                          type: string
                          format: date-time
                          example: "2024-01-01T00:00:00.000Z"
                        updatedAt:
                          type: string
                          format: date-time
                          example: "2024-01-15T10:30:00.000Z"
                        deletedAt:
                          type: string
                          format: date-time
                          nullable: true
                          example: null
                  pagination:
                    type: object
                    properties:
                      page:
                        type: integer
                        example: 1
                      limit:
                        type: integer
                        example: 50
                      total:
                        type: integer
                        example: 150
                      pages:
                        type: integer
                        example: 3
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Access denied - admin only
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    post:
      summary: Create New Index
      description: |
        Create a new knowledge base index. Only accessible by administrators.
        Note: Vector dimension and metric are managed by the system and not configurable via API (dimension: 4096, metric: cosine).
      tags:
        - Index Management
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - region
                - cloud
              properties:
                name:
                  type: string
                  description: Index name
                  example: "my-knowledge-base"
                region:
                  type: string
                  description: AWS/GCP region for the vector database (e.g., "us-east-1", "us-west-1")
                  example: "us-east-1"
                cloud:
                  type: string
                  description: Cloud provider ("aws" or "gcp")
                  enum: [aws, gcp]
                  example: "aws"
                assignedUser:
                  type: string
                  description: User ID to assign the index to (MongoDB ObjectId)
                  example: "60a7c8f5e8b4f5001f7a8c24"
                assignedGroup:
                  type: string
                  description: Group ID to assign the index to (MongoDB ObjectId)
                  example: "60a7c8f5e8b4f5001f7a8c25"
                sharedIndexName:
                  type: string
                  description: Shared index name (optional, defaults to name)
                  example: "my-knowledge-base"
                namespace:
                  type: string
                  description: Namespace for the index (optional, auto-generated)
                  example: "user-60a7c8f5e8b4f5001f7a8c24-index-my-knowledge-base"
            example:
              name: "my-knowledge-base"
              region: "us-east-1"
              cloud: "aws"
              assignedUser: "60a7c8f5e8b4f5001f7a8c24"
              sharedIndexName: "my-knowledge-base"
      responses:
        '201':
          description: Index created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Index created successfully"
                  index:
                    type: object
                    properties:
                      id:
                        type: string
                        example: "60a7c8f5e8b4f5001f7a8c23"
                      name:
                        type: string
                        example: "my-knowledge-base"
                      sharedIndexName:
                        type: string
                        example: "my-knowledge-base"
                      namespace:
                        type: string
                        example: "user-60a7c8f5e8b4f5001f7a8c24-index-my-knowledge-base"
                      type:
                        type: string
                        enum: [personal, general, group, unknown]
                        example: "personal"
                      assignedUser:
                        type: object
                        nullable: true
                        properties:
                          id:
                            type: string
                            example: "60a7c8f5e8b4f5001f7a8c24"
                          name:
                            type: string
                            example: "John Doe"
                          email:
                            type: string
                            example: "john@example.com"
                      assignedGroup:
                        type: object
                        nullable: true
                        properties:
                          id:
                            type: string
                            example: "60a7c8f5e8b4f5001f7a8c25"
                          name:
                            type: string
                            example: "Engineering Team"
                      createdAt:
                        type: string
                        format: date-time
                        example: "2024-01-15T10:30:00.000Z"
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Access denied - admin only
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Index name already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /indexes/{indexId}:
    put:
      summary: Update Index
      description: |
        Update an existing index (assign to user or group). Only accessible by administrators.
      tags:
        - Index Management
      security:
        - ApiKeyAuth: []
      parameters:
        - name: indexId
          in: path
          required: true
          description: Index ID to update
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Index name
                  example: "updated-knowledge-base"
                assignedUser:
                  type: string
                  description: User ID to assign the index to (MongoDB ObjectId)
                  example: "60a7c8f5e8b4f5001f7a8c24"
                assignedGroup:
                  type: string
                  description: Group ID to assign the index to (MongoDB ObjectId)
                  example: "60a7c8f5e8b4f5001f7a8c25"
            example:
              name: "updated-knowledge-base"
              assignedUser: "60a7c8f5e8b4f5001f7a8c24"
      responses:
        '200':
          description: Index updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Index updated successfully"
                  index:
                    type: object
                    properties:
                      id:
                        type: string
                        example: "60a7c8f5e8b4f5001f7a8c23"
                      name:
                        type: string
                        example: "updated-knowledge-base"
                      sharedIndexName:
                        type: string
                        example: "updated-knowledge-base"
                      namespace:
                        type: string
                        example: "user-60a7c8f5e8b4f5001f7a8c24-index-updated-knowledge-base"
                      type:
                        type: string
                        enum: [personal, general, group, unknown]
                        example: "personal"
                      assignedUser:
                        type: object
                        nullable: true
                        properties:
                          id:
                            type: string
                            example: "60a7c8f5e8b4f5001f7a8c24"
                          name:
                            type: string
                            example: "John Doe"
                          email:
                            type: string
                            example: "john@example.com"
                      assignedGroup:
                        type: object
                        nullable: true
                        properties:
                          id:
                            type: string
                            example: "60a7c8f5e8b4f5001f7a8c25"
                          name:
                            type: string
                            example: "Engineering Team"
                      createdAt:
                        type: string
                        format: date-time
                        example: "2024-01-01T00:00:00.000Z"
                      updatedAt:
                        type: string
                        format: date-time
                        example: "2024-01-15T10:30:00.000Z"
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Access denied - admin only
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Index not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /indexes/{indexName}/train:
    post:
      summary: Train Index with Documents
      description: |
        Train an index by uploading documents (files) or providing text inputs.
        Supports multiple file formats: TXT, PDF, DOCX, DOC, JSON, CSV, XLS, XLSX.
        Files can be uploaded as multipart/form-data or text can be provided as JSON.
      tags:
        - Index Management
      security:
        - ApiKeyAuth: []
      parameters:
        - name: indexName
          in: path
          required: true
          description: Name of the index to train
          schema:
            type: string
            example: "my-knowledge-base"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                files:
                  type: array
                  items:
                    type: string
                    format: binary
                  description: |
                    Document files to upload (up to 20 files, 50MB each).
                    Supported formats: TXT, PDF, DOCX, DOC, JSON, CSV, XLS, XLSX
                  maxItems: 20
                text_inputs:
                  type: string
                  description: |
                    JSON string array of text inputs. Each item should have:
                    - name: string (filename)
                    - type: string (MIME type, e.g., "text/plain")
                    - content: string (text content)
                    - size: number (content length in bytes)
                  example: '[{"name":"doc1.txt","type":"text/plain","content":"Document content here","size":20}]'
      responses:
        '200':
          description: Index trained successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Index trained successfully"
                  request_id:
                    type: string
                    format: uuid
                    example: "550e8400-e29b-41d4-a716-446655440000"
                  results:
                    type: object
                    properties:
                      files_processed:
                        type: integer
                        description: Number of files processed
                        example: 3
                      documents_extracted:
                        type: integer
                        description: Number of documents extracted from files
                        example: 3
                      documents_indexed:
                        type: integer
                        description: Number of documents successfully indexed
                        example: 3
                      total_vectors:
                        type: integer
                        description: Total number of vectors stored in Pinecone
                        example: 11
                      total_chunks:
                        type: integer
                        description: Total number of text chunks created
                        example: 3
                      index_name:
                        type: string
                        example: "my-knowledge-base"
                      namespace:
                        type: string
                        example: "user-60a7c8f5e8b4f5001f7a8c24-index-my-knowledge-base"
        '400':
          description: Invalid request (missing files/text_inputs or invalid format)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Access denied - user doesn't have access to this index
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Index not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '413':
          description: File too large (max 50MB per file)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Index training failed or vector database unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /indexes/{indexName}/search:
    get:
      summary: Search Index for Documents
      description: |
        Search documents within an index using semantic search.
        Returns matching documents with relevance scores.
      tags:
        - Index Management
      security:
        - ApiKeyAuth: []
      parameters:
        - name: indexName
          in: path
          required: true
          description: Name of the index to search
          schema:
            type: string
            example: "my-knowledge-base"
        - name: query
          in: query
          required: true
          description: Search query text
          schema:
            type: string
            example: "What is machine learning?"
        - name: top_k
          in: query
          required: false
          description: "Maximum number of results to return (1-50, default: 10)"
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 10
            example: 10
        - name: min_score
          in: query
          required: false
          description: "Minimum relevance score threshold (0.0-1.0, default: 0.0)"
          schema:
            type: number
            format: float
            minimum: 0.0
            maximum: 1.0
            default: 0.0
            example: 0.5
      responses:
        '200':
          description: Search completed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  request_id:
                    type: string
                    format: uuid
                    example: "550e8400-e29b-41d4-a716-446655440000"
                  query:
                    type: string
                    example: "What is machine learning?"
                  results:
                    type: object
                    properties:
                      matches:
                        type: array
                        items:
                          type: object
                          properties:
                            rank:
                              type: integer
                              description: Result rank (1-based)
                              example: 1
                            score:
                              type: number
                              format: float
                              description: Relevance score (0.0-1.0)
                              example: 0.85
                            source:
                              type: string
                              description: Document source identifier
                              example: "training"
                            content:
                              type: string
                              description: Content preview (truncated to 500 chars)
                              example: "Machine learning is a subset of artificial intelligence..."
                            metadata:
                              type: object
                              properties:
                                page:
                                  type: integer
                                  nullable: true
                                  description: Page number (if from PDF)
                                  example: 1
                                chunkIndex:
                                  type: integer
                                  nullable: true
                                  description: Chunk index within document
                                  example: 0
                                title:
                                  type: string
                                  nullable: true
                                  description: Document title
                                  example: "Introduction to ML"
                                documentId:
                                  type: string
                                  nullable: true
                                  description: Document ID
                                  example: "60a7c8f5e8b4f5001f7a8c26"
                      total:
                        type: integer
                        description: Total number of matches found
                        example: 5
                      top_k:
                        type: integer
                        description: Requested top_k value
                        example: 10
                  index:
                    type: object
                    properties:
                      name:
                        type: string
                        example: "my-knowledge-base"
                      namespace:
                        type: string
                        example: "user-60a7c8f5e8b4f5001f7a8c24-index-my-knowledge-base"
        '400':
          description: Invalid request (missing or invalid query parameter)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Access denied - user doesn't have access to this index
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Index not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Search failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /groups:
    get:
      summary: Get All Groups
      description: |
        Retrieve all groups with pagination and filtering. Only accessible by administrators.
      tags:
        - Group Management
      security:
        - ApiKeyAuth: []
      parameters:
        - name: page
          in: query
          description: Page number for pagination
          required: false
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: limit
          in: query
          description: Number of groups per page
          required: false
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
        - name: search
          in: query
          description: Search term for group name or description
          required: false
          schema:
            type: string
[...]
